.collection-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 40px 0;
  padding: 0 40px;
  .title {
    font-size: 8em;
    position: absolute;
    margin-left: 10px;
  }
  .collection-preview-container {
    width: 100%;
    .collection-preview-items {
      margin-top: 110px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .action {
      font-size: 3em;
      text-decoration: underline;
      cursor: pointer;
      display: flex;
      justify-content: end;
      margin-top: 20px;
      margin-right: 60px;
    }
  }
}
